---
- name: Configure hosts & deploy application
  hosts: all
  vars:
    mongo_bind_ip: 0.0.0.0
  tasks:
     - name: Change mongo config file
       become: true
       template:
          src: templates/mongod.conf.j2
          dest: /etc/mongod.conf
          mode: 0644
       tags: db-tagg 
       notify: restart mongod

     - name: Add unit file for Puma
       become: true
       copy:
          src: files/puma.service
          dest: /etc/systemd/system/puma.service
       tags: app-tag
       notify: reload puma

     - name: enable puma
       become: true
       systemd: name=puma enabled=yes
       tags: app-tag

  handlers:
     - name: restart mongod
       become: true
       service: name=mongod state=restarted
 
     - name: reload puma
       become: true
       systemd: name=puma state=reloaded

